<html>

<head>
    <title>
        webpage
    </title>
</head>

<body style="background-color:green;text-align:center">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h1><b>Hello World this should be a green page.</b></h1>
    <p></p>
    <p></p>
    <h1> <b>The hostname to this server is instance2.</b> </h1>
    <p></p>
    <p></p>
    <h1> <b>We are now ready to move to the next phase.</b> </h1>
    <p></p>
    <p></p>
    <h1> <b>This is the end of this page.</b> </h1>

</body>

</html>
