-- User configuration file for lsyncd.
settings {
logfile = "/var/log/lsyncd/lsyncd.log",
statusFile = "/var/log/lsyncd/lsyncd-status.log",
statusInterval = 5
}

sync{
 default.rsyncssh,
 source="/data/prod/sc/",
 host="10.128.0.22",
 targetdir="/var/www/html/frontend/web",
 rsync = {
   archive = true,
   perms = true,
   owner = true,
   _extra = {
      "-a"
    }
   }
}

sync{
 default.rsyncssh,
 source="/data/prod/sc/",
 host="10.128.0.23",
 targetdir="/var/www/html/frontend/web",
 rsync = {
   archive = true,
   perms = true,
   owner = true,
   _extra = {
      "-a"
    }
   }
}
sync{
 default.rsyncssh,
 source="/data/prod/ge/",
 host="10.128.0.25",
 targetdir="/var/www/html/frontend/web",
 rsync = {
   archive = true,
   perms = true,
   owner = true,
   _extra = {
      "-a"
    }
   }
}
sync{
 default.rsyncssh,
 source="/data/prod/ge/",
 host="10.128.0.26",
 targetdir="/var/www/html/frontend/web",
 rsync = {
   archive = true,
   perms = true,
   owner = true,
   _extra = {
      "-a"
    }
   }
}
